In [1]:
import pandas as pd
data1=pd.read_csv('typical_day.csv')
data2=pd.read_csv('wet_day.csv')
data3=pd.read_csv('stations.csv')

/Users/wangziyou/opt/miniconda3/envs/environmental-data/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data4=pd.read_csv('postcodes_sampled.csv')
data4

,postcode,sector,easting,northing,localAuthority,riskLabel,medianPrice
0,GU1 4XF,GU1 4,499691.0,149942.0,Guildford,1,1253800.0
1,TN13 2JB,TN13 2,552025.0,155534.0,Sevenoaks,1,728200.0
2,S7 2BD,S7 2,434300.0,384300.0,Sheffield,1,327400.0
3,PR1 5LT,PR1 5,354912.0,429855.0,Preston,1,105600.0
4,WR4 9NJ,WR4 9,386834.0,256972.0,Worcester,1,262800.0
...,...,...,...,...,...,...,...
19995,CB1 3ZU,CB1 3,546881.0,258966.0,Cambridge,1,469800.0
19996,BR2 7ZT,BR2 7,540300.0,166100.0,Bromley,1,647700.0
19997,B66 4JU,B66 4,402702.0,287583.0,Sandwell,1,178000.0
19998,WA7 2SR,WA7 2,353481.0,382477.0,Halton,1,155000.0
19999,BA1 4BY,BA1 4,372787.0,166458.0,Bath and North East Somerset,8,401300.0

In [5]:
data_typical = pd.merge(data1,data3)

In [15]:
import geo

ModuleNotFoundError: No module named 'geo'

In [16]:
lat = data_typical['latitude']
lon = data_typical['longitude']
geo.get_easting_northing(lat,lon)

NameError: name 'geo' is not defined

In [6]:
data_wet = pd.merge(data2,data3)

In [7]:
data_typical_rainfall = data_typical[data_typical['parameter']=='rainfall']
data_typical_level = data_typical[data_typical['parameter']=='level']

In [10]:
lat = data_typical_rainfall

,dateTime,stationReference,parameter,qualifier,unitName,value,stationName,latitude,longitude
0,2021-10-10T00:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
1,2021-10-10T01:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
2,2021-10-10T02:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
3,2021-10-10T03:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
4,2021-10-10T04:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
...,...,...,...,...,...,...,...,...,...
193122,2021-10-10T21:15:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
193123,2021-10-10T21:30:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
193124,2021-10-10T21:45:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
193125,2021-10-10T22:00:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
193126,2021-10-10T22:15:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948

In [11]:
data4

,postcode,sector,easting,northing,localAuthority,riskLabel,medianPrice
0,GU1 4XF,GU1 4,499691.0,149942.0,Guildford,1,1253800.0
1,TN13 2JB,TN13 2,552025.0,155534.0,Sevenoaks,1,728200.0
2,S7 2BD,S7 2,434300.0,384300.0,Sheffield,1,327400.0
3,PR1 5LT,PR1 5,354912.0,429855.0,Preston,1,105600.0
4,WR4 9NJ,WR4 9,386834.0,256972.0,Worcester,1,262800.0
...,...,...,...,...,...,...,...
19995,CB1 3ZU,CB1 3,546881.0,258966.0,Cambridge,1,469800.0
19996,BR2 7ZT,BR2 7,540300.0,166100.0,Bromley,1,647700.0
19997,B66 4JU,B66 4,402702.0,287583.0,Sandwell,1,178000.0
19998,WA7 2SR,WA7 2,353481.0,382477.0,Halton,1,155000.0
19999,BA1 4BY,BA1 4,372787.0,166458.0,Bath and North East Somerset,8,401300.0

In [8]:
typical_rainfall1 = pd.merge(data_typical_rainfall, data4)
typical_rainfall1 =

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [33]:
data_typical_rainfall.to_csv('data_typical_rainfall.csv')

In [35]:
data_typical_level.to_csv('data_typical_level.csv')

In [40]:
data_wet_rainfall = data_wet[data_wet['parameter']=='rainfall']
data_wet_level = data_wet[data_wet['parameter']=='level']

In [41]:
data_wet_rainfall.to_csv('data_wet_rainfall.csv')
data_wet_level.to_csv('data_wet_level.csv')

In [2]:
import pandas as pd
import geo
import tool
import numpy as np
import folium

In [6]:
tr = pd.read_csv('resources/data_typical_rainfall.csv')
tr

,Unnamed: 0,dateTime,stationReference,parameter,qualifier,unitName,value,stationName,latitude,longitude
0,0,2021-10-10T00:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
1,1,2021-10-10T01:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
2,2,2021-10-10T02:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
3,3,2021-10-10T03:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
4,4,2021-10-10T04:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792
...,...,...,...,...,...,...,...,...,...,...
85397,193122,2021-10-10T21:15:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
85398,193123,2021-10-10T21:30:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
85399,193124,2021-10-10T21:45:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
85400,193125,2021-10-10T22:00:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948
85401,193126,2021-10-10T22:15:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948

In [7]:
distance = 0.1
tr['lat_max'] = tr['latitude'] + distance
tr['lat_min'] = tr['latitude'] - distance
tr['long_max'] = tr['longitude'] + distance
tr['long_min'] = tr['longitude'] - distance

In [8]:
tr

,Unnamed: 0,dateTime,stationReference,parameter,qualifier,unitName,value,stationName,latitude,longitude,lat_max,lat_min,long_max,long_min
0,0,2021-10-10T00:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792,52.711622,52.511622,-0.361792,-0.561792
1,1,2021-10-10T01:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792,52.711622,52.511622,-0.361792,-0.561792
2,2,2021-10-10T02:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792,52.711622,52.511622,-0.361792,-0.561792
3,3,2021-10-10T03:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792,52.711622,52.511622,-0.361792,-0.561792
4,4,2021-10-10T04:00:00Z,E5726,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,52.611622,-0.461792,52.711622,52.511622,-0.361792,-0.561792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85397,193122,2021-10-10T21:15:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948,54.624262,54.424262,-2.405948,-2.605948
85398,193123,2021-10-10T21:30:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948,54.624262,54.424262,-2.405948,-2.605948
85399,193124,2021-10-10T21:45:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948,54.624262,54.424262,-2.405948,-2.605948
85400,193125,2021-10-10T22:00:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948,54.624262,54.424262,-2.405948,-2.605948
85401,193126,2021-10-10T22:15:00Z,598928,rainfall,Tipping Bucket Raingauge,mm,0.0,Rainfall station,54.524262,-2.505948,54.624262,54.424262,-2.405948,-2.605948

In [ ]:
class get_map(object):
    '''
    class to retieve rainfall data from website to design alert system and find historical data for a specific date
    '''

    def __init__(self, date='2019-10-08'):
#         self.station_url = 'http://environment.data.gov.uk/flood-monitoring/id/stations.csv?parameter=rainfall'
#         self.value_url = 'http://environment.data.gov.uk/flood-monitoring/id/measures.csv?parameter=rainfall'
#         self.spe_date_url = 'http://environment.data.gov.uk/flood-monitoring/data/readings.csv?parameter=rainfall&parameter=rainfall&_view=full&date=' + str(date)
        # for requirement 3
        # read the latest values from website
        # read the corresponding values of stations
        # and it is updated once the new file is uploaded
#         self.date = date
#         DF_value = pd.read_csv(self.value_url)
#         self.value = DF_value.loc[:, ['stationReference', 'value', 'dateTime']]

        # read the correspongding latitude and longitude of stations
        tr = pd.read_csv('/resources/data_typical_rainfall.csv')
        self.location = tr.loc[:, ['stationReference', 'latitude', 'longitude']]

        # merge the two DataFrame to be used later.
        # the purpose is to combine the location with value
#         self.DF3 = self.value.merge(self.location, left_on='stationReference', right_on='stationReference')

#         DF_readings = pd.read_csv(self.spe_date_url)
#         readings = DF_readings.loc[:, ['stationReference', 'value', 'dateTime']]

#         DF4 = self.location.merge(readings, left_on='stationReference', right_on='stationReference')
#         # turns all elements in value column into floats
#         DF4['value'] = pd.to_numeric(DF4['value'], errors='coerce')
#         # converts np.nan into 0
#         DF4['value'] = DF4['value'].fillna(0)
#         self.DF4 =DF4

    def get_all_station(self, latitude, longitude, distance):
        '''
        get corresponding rainfall value aroung each Postcode from latitude and longitude of the Postcode
        Parameters
        ----------
        latitude: sequence of float
            Ordered collection of latitude
        longitude: sequence of float
            Ordered collection of longitude

        Returns
        -------
        numpy.ndarray
            array of floats for rainfall value
        '''
        tr = self.tr
        tr['lat_max'] = tr['latitude'] + distance
        tr['lat_min'] = tr['latitude'] - distance
        tr['long_max'] = tr['longitude'] + distance
        tr['long_min'] = tr['longitude'] - distance

        rainfall = []
        for point in range(len(latitude)):
            stations_tem = tr.loc[(tr.lat_max >= latitude[point]) & (tr.lat_min <= latitude[point])]
            stations = stations_tem.loc[
                (stations_tem.long_max >= longitude[point]) & (stations_tem.long_min <= longitude[point])]

            rainfall_value = np.array(stations.value)
            rainfall_value = np.nan_to_num(rainfall_value)

            # if there is no station in the range of postcode, process the rainfall as 0
            if len(rainfall_value) == 0:
                rainfall_value = np.array([0])
            # mean = rainfall_value.sum() / len(rainfall_value)
            output = rainfall_value.max()
            rainfall.append(output)

        return rainfall



    def get_Risk_Level(self, postcode, distance):
        """
        Get an array of corresponding latitude, longitude and risk level from a sequence of postcodes
        and distance range around every postcode
        Parameters
        ----------
        postcodes: sequence of strs
            Ordered collection of postcodes
        distance: a float number

        Returns
        -------
        numpy.ndarray
            array of floats for the latitude, longitude and risk level
        """

        # create class Tool to use functions in tool.py
        # for apply function in tool.py later
        files = tool.Tool()

        #set the range of postcode to define stations and get latitude, longitude
        lat_long = files.get_lat_long(postcode)
        latitude = lat_long[:, 0]
        longitude = lat_long[:, 1]

        #get rainfall value for input Postcode
        rainfall = np.array(self.get_all_station(latitude, longitude, distance))
        #change numpy.array to 0 which is convenient to process later
        rainfall = np.nan_to_num(rainfall)
        EOS_NOS = geo.get_easting_northing_from_lat_long(latitude, longitude)

#         prob_band = files.get_easting_northing_flood_probability(EOS_NOS[0], EOS_NOS[1])

        dataset = pd.DataFrame({'Postcode': postcode, 'Latitude': latitude, 'Longitude': longitude, 'Value': rainfall, 'Probability Band': prob_band})

        #replace the probability band to threshold value
        threshold_DF= dataset.replace({'High': 1.00, 'Medium': 1.25, 'Low': 1.5, 'Very Low': 1.75, 'Zero': 2.00, 'No Risk': 2.00})

        first_level = 0.2
        second_level = 0.4
        third_level = 0.6
        def to_mark(diff):
            '''
            get the corresponding risk level as str from the difference between threshold and rainfall value

            Parameters
            ----------
            diff: a float number recording difference between threshold and rainfall value

            Returns
            -------
            str: risk level
            '''
            if diff < 0:
                result = 'No Risk'
            else:
                if diff < first_level:
                    result = 'Low Risk'
                elif (diff >= first_level) & (diff < second_level):
                    result = 'Medium Risk'
                elif (diff >= second_level) & (diff < third_level):
                    result = 'High Risk'
                else:
                    result = 'Dangerous'

            return result

        #comupute the difference between threshold and rainfall value
        diff_DF = threshold_DF.assign(diff=threshold_DF['Value'] - threshold_DF['Probability Band'])

        #change the difference to the corresponding risk level
        Risk_Ser = diff_DF['diff'].apply(to_mark)

        output = np.array(Risk_Ser)

        return latitude, longitude, output


    # work for Question 4
    def get_spe_date(self):
        """
        Get an array of corresponding latitude, longitude and risk level from a specific date

        Parameters
        ----------
        data: str as specific format
            farmat: 'yyyy-mm-dd' such as '2019-10-08'

        Returns
        -------
        numpy.ndarray
            array of floats for the latitude, longitude and risk level
        """
        files = tool.Tool()
        DF4 = self.DF4
        daily_rainfall = DF4.groupby('stationReference').value.sum()
        daily_rainfall = pd.DataFrame(daily_rainfall)
        lat_long_DF = daily_rainfall.merge(self.location, left_on='stationReference', right_on='stationReference')

        latitude = np.array(lat_long_DF.lat)
        longitude = np.array(lat_long_DF.long)

        dataset = pd.DataFrame({'Latitude': latitude, 'Longitude': longitude, 'Value': lat_long_DF.value})

        first_level = 2.
        second_level = 4.
        third_level = 50.

        def to_mark(value):
            '''
            get the corresponding risk level as str from the difference between threshold and rainfall value

            Parameters
            ----------
            diff: a float number recording difference between threshold and rainfall value

            Returns
            -------
            str: risk level
            '''
            if value < first_level:
                result = 'slight'
            elif (value >= first_level) & (value < second_level):
                result = 'moderate'
            elif (value >= second_level) & (value < third_level):
                result = 'heavy'
            else:
                result = 'violent'

            return result

        # change the total value to the corresponding rainfall level
        Rain_level = dataset['Value'].apply(to_mark)
        output = np.array(Rain_level)

        return latitude, longitude, output



    def plot_alert_system(self, postcode):
        '''
        Get map with corresponding risk level for different postcode area from a sequence of postcodes

        Parameters
        ----------
        postcode: sequence of str

        Returns
        -------
        folium.Map
            can produce picture of map with marks
        '''
        #plot real_time data alert system map
        lat, long, level = self.get_Risk_Level(postcode, 0.1)

        tem_DF = pd.DataFrame({'lat': lat, 'long': long})
        tem_DF = tem_DF.dropna(how='any')
        lat = np.array(tem_DF.lat)
        long =np.array(tem_DF.long)
        locationlist = np.array((lat, long)).transpose()


        #the plot code must run in jupyter lab, or it cannot ouput a map
        coldict = {0: 'lightgreen', 1: 'green', 2: 'lightblue', 3: 'orange', 4: 'red'}
        #possible colours are [â€˜redâ€™, â€˜blueâ€™, â€˜greenâ€™, â€˜purpleâ€™, â€˜orangeâ€™, â€˜darkredâ€™,
        #â€™lightredâ€™, â€˜beigeâ€™, â€˜darkblueâ€™, â€˜darkgreenâ€™, â€˜cadetblueâ€™, â€˜darkpurpleâ€™, â€˜whiteâ€™, â€˜pinkâ€™, â€˜lightblueâ€™, â€˜lightgreenâ€™, â€˜grayâ€™, â€˜blackâ€™, â€˜lightgrayâ€™]

        #set the overview place at beginning to centre of England
        map = folium.Map(location=[54, -1], zoom_start=6)

        #plot the different risk level point with corresponding colorful mark
        for point in range(0, len(locationlist)):
            if level[point] == 'No Risk':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[0], fill=True, fill_opacity=0.8,
                                    radius=10, icon=folium.Icon(color='red')).add_to(map)
            elif level[point] == 'Low Risk':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[1], fill=True, fill_opacity=0.8, radius=10, icon=folium.Icon(color='red')).add_to(map)
            elif level[point] == 'Medium Risk':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[2], fill=True, fill_opacity=0.8,
                                    radius=10, icon=folium.Icon(color='red')).add_to(map)
            elif level[point] == 'High Risk':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[3], fill=True, fill_opacity=0.8,
                                    radius=10, icon=folium.Icon(color='red')).add_to(map)
            elif level[point] == 'Dangerous':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[4], fill=True, fill_opacity=0.8,
                                    radius=10, icon=folium.Icon(color='red')).add_to(map)

        return map


    def plot_his_map(self):
        '''
        Get map with corresponding rainfall level for different stations

        Parameters
        ----------
        None

        Returns
        -------
        folium.Map
            can produce picture of map with marks
        '''
        lat, long, level = self.get_spe_date()
        tem_DF = pd.DataFrame({'lat': lat, 'long': long})
        tem_DF = tem_DF.dropna(how='any')
        lat = np.array(tem_DF.lat)
        long =np.array(tem_DF.long)
        locationlist = np.array((lat, long)).transpose()

        #the plot code must run in jupyter lab, or it cannot ouput a map
        coldict = {0: 'lightgreen', 1: 'blue', 2: 'orange', 3: 'red'}
        #possible colours are [â€˜redâ€™, â€˜blueâ€™, â€˜greenâ€™, â€˜purpleâ€™, â€˜orangeâ€™, â€˜darkredâ€™,
        #â€™lightredâ€™, â€˜beigeâ€™, â€˜darkblueâ€™, â€˜darkgreenâ€™, â€˜cadetblueâ€™, â€˜darkpurpleâ€™, â€˜whiteâ€™, â€˜pinkâ€™, â€˜lightblueâ€™, â€˜lightgreenâ€™, â€˜grayâ€™, â€˜blackâ€™, â€˜lightgrayâ€™]

        #set the overview place at beginning to centre of England
        map = folium.Map(location=[54, -1], zoom_start=6)

        #plot the different risk level point with corresponding colorful mark
        for point in range(0, len(locationlist)):
            if level[point] == 'Low':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[0], fill=True, fill_opacity=0.8,
                                    radius=10, icon=folium.Icon(color='red')).add_to(map)
            elif level[point] == 'Medium':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[1], fill=True, fill_opacity=0.8, radius=10, icon=folium.Icon(color='red')).add_to(map)
            elif level[point] == 'High':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[2], fill=True, fill_opacity=0.8,
                                    radius=10, icon=folium.Icon(color='red')).add_to(map)
            elif level[point] == 'Very High':
                folium.CircleMarker(locationlist[point], color='black', fill_color=coldict[3], fill=True, fill_opacity=0.8,
                                    radius=10, icon=folium.Icon(color='red')).add_to(map)
        return map